node_modules/
.expo/
dist/
web-build/
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.env*.local
ios/Pods/
ios/build/
android/build/
android/app/build/
android/.gradle/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
